.title {
  font-size: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.title-section {
  border-top: 1px solid black;
}

.title-container-1 {
  max-width: 700px;
  width: 90vw;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.thumbnail {
  width: 100%;
  padding: 1rem;
}

.details-container {
  display: flex;
  justify-content: space-between;
}

.details-container-1 {
  display: flex;

}

.profile-container-1 {
  /* height: 2rem; */
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.profile-1 {
  height: 2rem;
  width: 2rem;
  object-fit: cover;
  margin-right: 1rem;
  border-radius: 100%;
}

.logo-container-1 {
  height: 1rem;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.logo-1 {
  height: 100%;
  margin-right: 1rem;
}

.float-right {
  float: right;
}

.content-section {
  /* background-color: #e9ecef; */
}

.content-container {
  max-width: 700px;
  width: 90vw;
  margin: 0 auto;
}

.btn-container-1 {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.criteria-section {
  border-top: 1px solid #212529;
  border-bottom: 1px solid #212529;
}

.criteria-title {
  font-size: 1.5rem;
  margin: 2rem 0;
  display: flex;
  justify-self: center;
}

.criteria-1 {
  background-color: #343a40;
  width: 100%;
  padding: 1em;
  color: white;
  display: flex;
  margin: 1rem;
}

.ideas-section {
  background-color: #f8f9fa;
  padding-bottom: 2rem;
}

.idea-container {
  width: 80vw;
  margin: 0 auto;
}

.ideas {
  display: flex;
  flex-wrap: wrap;
  /* overflow: auto; */
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.submitted-ideas-title {
  margin-top: 2rem;
}

.item-1 {
  width: 320px;
  margin-top: 2rem;
  margin-right: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.idea-img-1 {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.item-tag {
  color: #6c757d;
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 0.5em;
  border-right: 1px solid #6c757d;
}

.item-tag-1 {
  color: #f8f9fa;
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 0.5em;
}

.item-title-1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #212529;
}

.p-1 {
  margin-bottom: 1rem;
}

.info-container-1 {
  justify-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo-container-1 {
  height: 1rem;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.logo-1 {
  height: 100%;
  margin-right: 1rem;
}

.pagination-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 2rem;
}

.page-item {
  background-color: #6c757d;

  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.text-style {
  color: #f8f9fa;
  text-decoration: none;
}

.page-arrow-container {
  width: 1.5rem;
  height: 1.5rem;
}

.page-arrow {
  width: 100%;
}

.btn-1 {
  border: 1px #111111 solid;
  padding: 0.5em;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  background-color: #f8f9fa;
  margin: 1rem 0;
  justify-self: center;
}
