
  {% extends 'base.html' %}
  {% load static %}
  {% block content %}
  <link rel="stylesheet" href="{% static 'css/Challenges.css' %}" type="text/css">



  <section class="section-1">
    <div class="content">


        <div class="right-column">

       
            <h1>Challenges Dashboard</h1>
            <form method="GET" action=".">
            <div class="btn-container">
              <div>
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#filterModal">
                  Filter
                </button>
                
                  <div id="sorting" class="form-group" style="display: inline;">
                  <select name="sort" id="sort" class="btn btn-outline-secondary" onchange="this.form.submit()">
                    <option id="popularity" value="popularity"><b>Popularity</b></option>
                    <option id="newest" value="newest"><b>Newest</b></option>
                  </select>
                </div>


              </div>
              {% if user.is_authenticated %}
              
                {% if perms.challenges.add_challenge %}
                <div class="submit-btn-container">
                  <a  href ="{% url 'challenge-create' %}" type= "button" class="btn btn-outline-secondary">Submit Your Challenge</a>
                </div>
                {% endif %}

              {% endif %}
            </div>

            <div class="modal fade" id="filterModal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Filter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h6 class="font-weight-bold">Status</h6>
                    <div class="form-group">
                      <input type="checkbox" value="active" name="status" {% if "active" in status %} checked {% endif %}> <label>Active</label>
                      <input type="checkbox" value="ended" name="status" {% if "ended" in status %} checked {% endif %}> <label>Ended</label>
                    </div>
                    <hr>
                      {% for cat in category_count %}
                      <div >
                        <input type="checkbox" value="{{cat.tags__title}}" name="category" {% if cat.tags__title in categories %}
                          checked {% endif %}>
                        <label>{{ cat.tags__title }} ({{ cat.tags__title__count }})</label>
                      </div>
                      {% empty %}
                          <div>
                            No categories currently.
                          </div>
                      {% endfor %}

                      <button type="submit" class="btn btn-outline-secondary modal-filter-btn">Filter</button>                    
                  </div>
              
                </div>
              </div>
            </div>
          </form>
            <div class="ideas">

                {% for challenge in queryset %}
              <div class="item-1">
                <div>
                  <a href="{{ challenge.get_absolute_url }}">
                    <img class="item-img-1" src="{{ challenge.thumbnail.url }}" alt="MyPhoto">
                  </a>
                  <div>
                    {% for tag in challenge.tags.all %}
                    <span class="item-tag-1">{{ tag }}</span>
                    {%empty%}
                    <div class="item-tag-empty">No tags </div>
                    {% endfor %}
                  </div>
                  <!-- if null, then return empty div -->
                  <div>
                    <a class="item-title-1" href="{{ challenge.get_absolute_url }}">{{challenge.title}}</a>
                  </div>
                </div>
              
      
              
                <div class="info-container-1">
                  <!-- <div>{{ idea.author }}</div>   -->
                  <div class="logo-container-1">
              
                    <img class="logo-1" src="{% static 'logo/deadline.png' %}">
                    <div>{{ challenge.idea_submission_deadline |date:"F d, Y" }}</div>
                  </div>
                  <div class="logo-container-1">
                    <img class="logo-1" src="{% static 'logo/lightbulb.png' %}">
                    <div>{{ challenge.idea_count }}</div>
                  </div>
                </div>
              </div>

                {% endfor %}
            </div>

            <div>

                <ul class="pagination-list">
                    {% if queryset.has_previous %}
                    <li class="page-arrow-container"><a href="?{{ page_request_var }}={{ queryset.previous_page_number }}"><img src="{% static 'logo/arrow_left.png'%}" class="page-arrow"></a></li>
                    {% endif %}
                    <li class="page-item"><a class="text-style" href="?{{ page_request_var }}={{ queryset.number }}">{{ queryset.number }}</a></li>
                    {% if queryset.has_next %}
                    <li class="page-arrow-container"><a href="?{{ page_request_var }}={{ queryset.next_page_number }}"><img src="{% static 'logo/arrow_right.png'%}" class="page-arrow"></a></li>
                    {% endif %}
                </ul>

            </div>

        </div>
    </div>

  </section>
  <script>
    var sort = "{{sort}}";
    if (sort == null) {
      $(function () {
        document.getElementById("sort").value = "popularity";
      });
    } else {
      document.getElementById("sort").value = sort;
    }
  </script>
  {% endblock content%}
<!-- </body>
</html> -->
