{% load static %}
<link rel="stylesheet" href="{% static 'css/Footer.css' %}">

<section class="section">
    <div class="footer">
        <h5><b>Idea4U</b></h5>
        <!-- <ul class="logo-list">
            <li><a ><img  class = "logo" src ="{% static 'logo/facebook.png' %}" alt = "mylogo"></a></li>
            <li><a ><img class = "logo" src ="{% static 'logo/instagram.png' %}" alt = "mylogo"></a></li>
            <li><a ><img class = "logo" src ="{% static 'logo/linkedin.png' %}" alt = "mylogo"></a></li>
        </ul> -->
        <!-- <a href ="/contact" class="link">Contact Us</a> -->
        <a href ="/community_guide" class="link"> Community Guidelines</a>
    </div>
</section>
