{% extends 'base.html' %}
 {% load static %}
 {% load i18n %}
 {% block head_title %}{% trans "Sign Out" %}{% endblock %}
 {% block content %}
 <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <!-- White Container -->
        <div class="container bg-white rounded mt-4 mb-4 px-4">
          <div class="pt-3 pb-3">
            <form method="POST" class="form-horizontal">
              <fieldset class="form-group">
                <legend class="border-bottom mb-4">{% trans "Sign Out" %}</legend>
                <p>{% trans 'Are you sure you want to sign out?' %}</p>
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
                    </form>
              </fieldset>
              <div class="px-4 pt-2">
                <hr></hr>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock content %}
