{% extends 'base.html' %}
 {% load crispy_forms_tags %}
 {% load i18n %}
 {% block head_title %}{% trans "Change Password" %}{% endblock %}

 {% block content %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">

 <!-- Container containing all contents -->
 <div class="container">
   <div class="row justify-content-center">
     <div class="col-12 col-md-9 col-lg-7 col-xl-6">
       <!-- White Container -->
       <div class="container bg-white rounded mt-4 mb-4 px-4">
         <div class="pt-3 pb-3">
           <form method="POST" class="form-horizontal">
             <legend class="border-bottom mb-4">Change password</legend>

             {% if token_fail %}
               <p>
                 {% blocktrans %}
                 The password reset link was invalid, possibly because it has already been used.  
                 Please request a <a href="/accounts/password_reset/">new password reset</a>.
                 {% endblocktrans %}
               </p>
             {% else %}
               {% if form %}
                 {% csrf_token %}
                 {{ form|crispy }}
                 <button type="submit">Change password</button>
               {% else %}
                   <p>{% trans 'Your password is now changed.' %}</p>
               {% endif %}

             {% endif %}
           </form>
         </div>
       </div>
     </div>
   </div>
 </div>
 {% endblock content %}